<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>profileMyAvatarPageLandscape</key>
	<dict>
		<key>avatarColCell</key>
		<dict>
			<key>borderWidth</key>
			<integer>4</integer>
			<key>insetBottom</key>
			<integer>16</integer>
			<key>insetLeft</key>
			<integer>20</integer>
			<key>insetRight</key>
			<integer>20</integer>
			<key>insetTop</key>
			<integer>16</integer>
			<key>itemPerRowCommon</key>
			<integer>5</integer>
			<key>minGapInterItem</key>
			<integer>30</integer>
			<key>minGapLineSpacing</key>
			<integer>30</integer>
			<key>orgX</key>
			<integer>5</integer>
			<key>orgY</key>
			<integer>5</integer>
		</dict>
		<key>buttonColCell</key>
		<dict>
			<key>heightBtn</key>
			<integer>50</integer>
			<key>heightRow</key>
			<integer>100</integer>
			<key>offsetLeft</key>
			<integer>20</integer>
			<key>offsetRight</key>
			<integer>20</integer>
			<key>offsetTop</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>profileMyPreferencesPage</key>
	<dict>
		<key>preferencesColCell</key>
		<dict>
			<key>insetBottom</key>
			<integer>8</integer>
			<key>insetLeft</key>
			<integer>0</integer>
			<key>insetRight</key>
			<integer>0</integer>
			<key>insetTop</key>
			<integer>8</integer>
			<key>itemPerRowCommon</key>
			<integer>3</integer>
			<key>heightLblTitle</key>
			<integer>48</integer>
			<key>minGapInterItem</key>
			<integer>8</integer>
			<key>minGapLineSpacing</key>
			<integer>8</integer>
			<key>widthImgSel</key>
			<integer>30</integer>
			<key>heightImgSel</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>
